<!DOCTYPE html>
<html>
    <head>
        <title>{{ sever_name }}</title>
        <link type="image/png" sizes="32x32" rel="icon" href="{{ url_for('static', path='favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="main">
            <div class="node-panel">
                <div class="node-panel__info">
                    <h2>Server info</h2>
                    <p><b>Name</b>: {{ sever_name }}</p>
                    <p><b>URL</b>: {{ sever_url }}</p>
                </div>
                <div class="nodes">
                    <h2>Nodes list</h2>
                    <ul id="all-nodes-list" style="display: none;">
                        {% for node in all_nodes %}
                            <li><input type="text" class="node_url" value="{{ node }}"></li>
                        {% endfor %}
                    </ul>
                    <ul id="nodes-list">
                    </ul>
                </div>
                <div class="node-panel__tools">
                    <div class="node-panel__tools__info">
                        <b>Selected nodes: <span id="selection-count"></span></b>
                    </div>
                    <div class="node-panel__tools__tool-bar">
                        <button onclick="clearAllSelection()"><b>clear selections</b></button>
                        <button onclick="selectAllActiveNodes()"><b>select all</b></button>
                    </div>
                </div>
            </div>
            <div class="message-panel">
                <div class="messages" id="messages">
                    <div class="messages__message-box start">
                        <div class="messages__message-box__message">Server start</div>
                    </div>
                </div>
                <form class="message-panel__input" action="" onsubmit="sendMessage(event)">
                    <textarea type="text" placeholder="Write message" id="messageText" autocomplete="off"></textarea>
                    <button>
                        <i class="material-icons">&#xe163;</i>
                    </button>
                </form>
            </div>
            <input type="number" id="connection_update_time" value="{{ connection_update_time }}" style="display: none;">
        </div>
        <script>
            function textAreaAdjust(element) {
                element.style.height = "1px";
                element.style.height = (11 + element.scrollHeight)+"px";
            }

            function textAreaAdjustEvent(e) {
                textAreaAdjust(e.target);
            }
            
            const messageInput = document.getElementById("messageText");
            messageInput.addEventListener('input', textAreaAdjustEvent);
            messageInput.addEventListener('propertychange', textAreaAdjustEvent); // for IE8

            let selectedReceivers = [];

            async function postJSON(url, data) {
                try {
                    const response = await fetch(url, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify(data),
                    });

                    const result = await response.json();
                    return result;
                } catch (error) {
                    console.error("Error:", error);
                }
            }

            async function getJSON(url) {
                try {
                    const response = await fetch(url, {method: "GET"});

                    const result = await response.json();
                    return result;
                } catch (error) {
                    console.error("Error:", error);
                }
            }


            let toggleSelectionReceiverCallbacks = [];
            function sendToggleSelectionReceiverCallbacks() {
                toggleSelectionReceiverCallbacks.forEach(func => {
                    func(selectedReceivers);
                });
            }


            function getNodeNameByElem(elem) {
                const node_name_elem = elem.getElementsByClassName("node_name")[0];
                const node_name = node_name_elem.value;

                return node_name
            }

            function selectReceiver(elem) {
                const node_name = getNodeNameByElem(elem);

                if (selectedReceivers.includes(node_name)) {
                    return;
                }

                elem.classList.remove("selected");
                elem.classList.add("selected");
                selectedReceivers.push(node_name);

                sendToggleSelectionReceiverCallbacks();
            }

            function unselectReceiver(elem) {
                const node_name = getNodeNameByElem(elem);

                if (!(selectedReceivers.includes(node_name))) {
                    return;
                }

                elem.classList.remove("selected");
                const index = selectedReceivers.indexOf(node_name);
                if (index > -1) {
                    selectedReceivers.splice(index, 1);
                }

                sendToggleSelectionReceiverCallbacks();
            }

            function toggleSelectionReceiver(elem) {
                const node_name = getNodeNameByElem(elem);

                if (selectedReceivers.includes(node_name)) {
                    unselectReceiver(elem);
                } else {
                    selectReceiver(elem);
                }
            }

            function updateSelectionCount(selectionArray) {
                const outElem = document.getElementById("selection-count");
                outElem.innerHTML = selectionArray.length;
            }
            toggleSelectionReceiverCallbacks.push(updateSelectionCount);
            updateSelectionCount([]);

            const nodesListElem = document.getElementById("nodes-list");
            const allNodesListElem = document.getElementById("all-nodes-list");
            function selectAllActiveNodes() {
                Array.from(nodesListElem.children).forEach(node => {
                    if (node.classList.contains("active")) {
                        selectReceiver(node);
                    }
                });
            }

            function selectNodesByNamesList(names) {
                Array.from(nodesListElem.children).forEach(node => {
                    const currentName = node.getElementsByClassName("node_name")[0].value;

                    if (names.includes(currentName)) {
                        selectReceiver(node);
                    }
                });
            }

            function clearAllSelection() {
                Array.from(nodesListElem.children).forEach(node => {
                    if (node.classList.contains("active")) {
                        unselectReceiver(node);
                    }
                });
            }

            function createUnActiveNode(node_url) {
                template = `\
                    <li class="unactive">\
                        <p><b>URL</b>: ${ node_url }</p>\
                    </li>\
                `
                return template;
            };
            function createActiveNode(node_name, node_url) {
                template = `\
                    <li class="active" onclick="toggleSelectionReceiver(this)">\
                        <input type="text" class="node_name" value="${ node_name }">\
                        <p><b>Name</b>: ${ node_name }</p>\
                        <p><b>URL</b>: ${ node_url }</p>\
                    </li>\
                `
                return template;
            };

            function refreshNodeList() {
                getJSON(`http://${location.host}/control/get_active_nodes/`).then(
                    response => {
                        let active_nodes_names = [];
                        let active_nodes_urls = [];

                        let selected_nodes = [];
                        let newActiveNodesList = "";
                        let newUnActiveNodesList = "";
                        response.active_nodes.forEach(node => {
                            if (selectedReceivers.includes(node.name)) {
                                selected_nodes.push(node.name);
                            }

                            active_nodes_names.push(node.name);
                            active_nodes_urls.push(node.url);
                        });

                        Array.from(allNodesListElem.children).forEach(node => {
                            const currentURL = node.getElementsByClassName("node_url")[0].value;
                            if (active_nodes_urls.includes(currentURL)) {
                                const idxOfURL = active_nodes_urls.indexOf(currentURL);
                                newActiveNodesList += createActiveNode(active_nodes_names[idxOfURL], currentURL);
                            } else {
                                newUnActiveNodesList += createUnActiveNode(currentURL);
                            }
                        });

                        nodesListElem.innerHTML = newActiveNodesList + newUnActiveNodesList;

                        selectedReceivers = [];
                        selectNodesByNamesList(selected_nodes);
                    }
                );
            }


            function sendMessage(event) {
                if (selectedReceivers.length === 0) {
                    alert("No nodes selected");
                    event.preventDefault();
                    return
                }

                const message = {"text": messageInput.value, "receivers": selectedReceivers};
                postJSON(`http://${location.host}/control/send_mail/`, message);

                messageInput.value = "";
                textAreaAdjust(messageInput);
                event.preventDefault();
            }

            messageInput.addEventListener('keydown', (e) => {
                if (e.ctrlKey && e.keyCode == 13) {
                    sendMessage(e);
                }
            });


            function collectMessageHTML(data) {
                data = JSON.parse(data);
                status_class = data["type"];
                sender = data["sender_name"];
                message = data["text"];

                template = `<div class="messages__message-box ${status_class}">\
                    <div class="messages__message-box__sender">\
                    </div>\
                    <div class="messages__message-box__message">\
                        <p class="messages__message-box__message__sender"><b>${sender}</b></p>\
                        <p>${message}</p>\
                    </div>\
                </div>`;

                return template;
            }

            const connectionUpdateTime = document.getElementById("connection_update_time").value;
            var intervalId = window.setInterval(function(){
                refreshNodeList();
            }, connectionUpdateTime);
            refreshNodeList();

            
            // WebSocket
            const ws = new WebSocket(`ws://${location.host}/control/ws`, 'echo-protocol');
            ws.onmessage = function(event) {
                const messages = document.getElementById('messages');
                messageHTML = collectMessageHTML(event.data);
                messages.innerHTML += messageHTML;
            };
        </script>
    </body>
</html>